.bounce {
    opacity: 1;
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes bounce {
    0% {
        transform: translateY(-15px);
    }
    20% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(8px);
    }
    80% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

.float-up {
    opacity: 1;
    animation-name: float-up;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
}

@keyframes float-up {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.pop-up {
    opacity: 1;
    animation-name: pop-up;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    85% {
        opacity: 1;
        transform: translateY(0);
    }

    95% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}
