.card {
    background-color: #fdfdfd;
    /*padding: 8px 16px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(105, 105, 105, 0.4);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.cursor-pointer {
    cursor: pointer;
}

.font-weight-bold {
    font-weight: bold;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

.font-x-large {
    font-size: x-large;
}

.font-xx-large {
    font-size: xx-large;
}

nav {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: #e1e1e1;
}

nav a {
    color: #808080;
    text-decoration: none;
    font-size: xx-large;
    margin-right: 2vw;
    margin-left: 2vw;
}

nav a:hover {
    color: #3830d7;
}

.active {
    color: #000000;
}

.btn {
    padding: 10px 12px;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.btn-blue {
    color: white;
    background-color: #3873ff;
    border: 1px solid white;
}

.btn-blue:hover {
    background-color: #2252cd;
}

.btn-blue:active {
    background-color: #214e9b;
    border: 1px solid white;
}
