@media (max-device-width: 800px) {
    .image-mobile {
        width: 75px;
        height: 75px;
    }
}

.bg-light-blue {
    background-color: lightblue;
}

.text-dark-grey {
    color: #373737;
}

.text-light-red {
    color: #ff3f3c;
}

.float-up-1 {
    opacity: 1;
    animation-name: float-up;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
    animation-delay: 100ms;
}

@keyframes float-up {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

