.w-10 {
    width: 10%;
}

.w-50 {
    width: 50%;
}

@media (max-device-width: 800px) {
    .w-10 {
        width: 20%;
    }

    .w-50 {
        width: 75%;
    }
}

.bg-pink {
    background-color: #ffe8ea;
}

.form-control {
    width: 70%;
    height: 3vh;
}

.materialize-form {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.materialize-form:focus {
    outline: none;
}
